<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
    colors="true"
    backupGlobals="false"
    bootstrap="./bootstrap.php"
    >
    <testsuites>
        <testsuite name="HelpAssistantTest">
            <directory>./HelpAssistantTest</directory>
        </testsuite>
    </testsuites>
    <source><include><file>../Module.php</file><directory suffix=".php">../src</directory></include></source>
</phpunit>
